body[theme="default"] {
  --background: #f7f7f7;
  --background-light: #fff;
  --color-1: #006ebf;
  --color-1-light: #5bb0ff;
  --color-1-lighter: #badeff;
  --color-1-dark: #075b97;
  --color-2: #c29409;
  --color-2-light: #ffeaad;
  --color-2-dark: #b48908;
  --gray: #d8d8d8;
  --gray-light: #ebebeb;
  --gray-dark: #bdbdbd;

  --red: #b61717;
  --red-light: #faaeae;
  --red-lighter: #fcd6d6;
  --red-light-dark: #f79292;
  --red-dark: #860606;
  --yellow: #ff0;
  --yellow-light: #ffeaad;
  --yellow-dark: #c29409;
  --green: #0d8d08;
  --green-light: #d0ffce;
  --green-dark: #056601;
  --text-color: #000;
}

body[theme="dark"] {
  --background: #1b1b1b;
  --background-light: #333333;
  --color-1: #4fcfc9;
  --color-1-light: #7beae4;
  --color-1-lighter: #1b5248;
  --color-1-dark: #017670;
  --color-2: #a70257;
  --color-2-light: #7a0943;
  --color-2-dark: #ce6099;
  --gray: #303030;
  --gray-light: #3f3f3f;
  --gray-dark: #585858;
  --red: #7c1515;
  --red-light: #5e2020;
  --red-lighter: #522f2f;
  --red-light-dark: #7a3636;
  --red-dark: #da3d3d;
  --yellow: #ff0;
  --yellow-light: #665010;
  --yellow-dark: #dec988;
  --green: #235221;
  --green-light: #163114;
  --green-dark: #a1d29f;
  --text-color: #fff;
}