main {
  @include flex(row wrap, center, stretch);
  >*{
    flex: 3;
    max-width: 1280px;
  }
  section{
    @include flex(row, center, flex-start);
  }
  @include desktop() {
    padding: 2rem;
    background-color: var(--background);
  }
  box-sizing: border-box;
  padding: 0;
  background-color: var(--background-light);
  color: var(--text-color);
  .circle#theme-mode {
    > * {
      cursor: pointer;
    }
    &:hover {
      background-color: var(--gray-dark);
    }
    &:active {
      @include boxShadowInset();
    }
    input[type="checkbox"] {
      display: none;
    }
  }
  .circle#theme-mode:has(> input[type="checkbox"]:checked)
    label:nth-last-child(1) {
    display: none;
  }
  .circle#theme-mode:has(> input[type="checkbox"]:not(:checked))
    label:nth-last-child(2) {
    display: none;
  }
  ul.alternatives {
    flex: 1;
    flex-grow: 1;
    min-width: 200px;
    margin: 9px 9px 9px 0px;
    > li:first-child{
      margin-top: 0px;
    }
  }
  .circle {
    @include flex(row, center, center);
    border: 2px solid var(--gray-dark);
    width: fit-content;
    border-radius: 50%;
    padding: 0.2rem;
  }
  .accordion {
    li.incorrect {
      background-color: var(--red-lighter);
      &:hover {
        background-color: var(--red-lighter);
      }
      label {
        background-color: var(--red-light);
        &:hover {
          background-color: var(--red-light-dark);
        }
        &.active {
          background-color: var(--red-light-dark);
        }
      }
    }
    li {
      @include flex(column, flex-start, flex-start);
      margin: 0;
      padding: 0;
      text-align: left;
      background-color: var(--gray-light);
      @include boxShadow();
      &:hover {
        background-color: var(--gray-light);
      }

      .active {
        background-color: var(--color-1-lighter);
      }
      .active ~ * {
        display: flex;
      }
      label {
        box-sizing: border-box;
        @include boxShadow();
        background-color: var(--background);
        padding: 10px;
        & ~ * {
          display: none;
          box-sizing: border-box;
          padding: 10px;
        }
        &:hover {
          background-color: var(--color-1-lighter);
        }
      }
    }
  }
  .row {
    @include flex(row wrap, $justify: flex-start);
    flex: 1;
    flex-grow: 1;
    margin: 5px 0px;
  }
  .column {
    @include flex(column, $justify: flex-start);
    flex: 1;
    flex-grow: 1;
    margin: 5px 0px;
  }
  .hide {
    display: none;
  }
  .btn-container {
    @include flex(column);
    @include desktop() {
      @include flex(row wrap);
    }
  }
  * {
    transition: 0.2s;
  }
  article {
    @include flex(column);
    @include desktop() {
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    }
    margin-bottom: 1rem;
    box-sizing: border-box;
    padding: 2rem;
    width: 100%;
    background-color: var(--background-light);
    min-width: 200px;
    button.primary-btn {
      color: var(--background-light);
      background-color: var(--color-1);
      border-color: var(--color-1-dark);
      &:hover {
        background-color: var(--color-1-light);
      }
      &:active {
        background-color: var(--color-1-dark);
        transform: scale(0.92);
      }
    }
    button.secondary-btn {
      background-color: var(--background-light);
      border-color: var(--color-1-dark);
      &:hover {
        background-color: var(--color-1-lighter);
      }
      &:active {
        background-color: var(--color-1-light);
        transform: scale(0.92);
      }
    }
    button {
      flex: 1;
      flex-grow: 1;
      border-radius: 5px;
      padding: 4px 7px;
      border: 2px solid var(--color-1);
      margin: 2px;
      color: var(--text-color);
      &:active {
        @include boxShadowInset();
      }
    }

    aside.green {
      display: flex;
      background-color: var(--green-light);
      border-color: var(--green);
    }
    aside.yellow {
      display: flex;
      background-color: var(--yellow-light);
      border-color: var(--yellow-dark);
    }
    aside.red {
      display: flex;
      background-color: var(--red-light);
      border-color: var(--red);
    }
    aside {
      display: none;
      border: 2px solid black;
      box-sizing: border-box;
      border-radius: 5px;
      padding: 15px;
    }
    section {
      @include flex(column, $justify: flex-start);

      header {
        @include flex($justify: space-between);
      }
      figure {
        @include flex($justify: center);
        margin: 0px;
        flex: 1;
        flex-grow: 1;
        min-width: 200px;
        img {
          width: 100%;
          object-fit: fill;
          border: 3px solid var(--gray-dark);
        }
      }
    }
    h2, h3 {
      margin: 0;
    }
    ul {
      list-style-type: none;
      padding: 0;
      li {
        @include flex(row, flex-start, flex-start);
        margin: 5px 0px;
        padding: 5px 0px;
        label {
          width: 100%;
        }
        &:hover {
          background-color: var(--color-2-light);
        }
        &:has(> input:checked) {
          background-color: var(--color-1-lighter);
        }
      }
    }
  }
  footer {
    margin-top: 2rem;
  }
}
