@import "./partials/coloring.scss";
@import "./partials/mixins.scss";
@import "./partials/main.scss";

body, html{
    background-color: var(--background);
    margin: 0;
    padding: 0;
}
main{
    min-height: 100vh;
    header{
        margin-bottom: 10px;
    }
}

p{
     margin: 5px 0px;

}

label, button, input[type="checkbox"], input[type="radio"]{
    cursor: pointer;
  }
  p, h1, h2, h3{
    cursor:default;
  }
  p, li, label, button, a, span{
    font-family: "Tinos", serif, Arial, sans-serif, Helvetica;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
  }
  h1, h2, h3{
    font-family: "Newsreader", serif, Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-style: normal;
  }